.App {
  width: 100%;
  max-width: 70.5rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.fetch-button {
  margin: 1rem 0;
  padding: 1rem 1.75rem;
  box-shadow: 0px 0px 0.5rem 0.5rem #3800ff inset;
  background-color: #2700b3;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.fetch-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 4px 2px #3800ff;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: #efefef;
  text-align: center;
  filter: drop-shadow(1px 1px 0.5rem #3800ff);
}

.error-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 400;
}

.error-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.error-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  box-shadow: 0px 0px 1.25rem 0.5rem #ff00004d;
  padding: 2rem;
  border-radius: 0.25rem;
  max-width: 32rem;
  width: 100%;
  z-index: 1000;
  color: rgb(226, 0, 0);
}

.error-title {
  font-size: 2rem;
  font-weight: 600;
}

.error {
  font-size: 1.25rem;
}

.close {
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.close:hover {
  transform: scale(2);
  color: #c20000;
}
