.App {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

input,
button {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

button {
  margin-left: 1rem;
  padding: 0.5rem 0.75rem;
  box-shadow: 0px 0px 0.5rem 0.5rem #8000a0 inset;
  background-color: #600177;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 4px 2px #8000a0;
}

.title {
  font-size: 3rem;
  color: #d6d6d6;
  text-align: center;
  filter: drop-shadow(1px 1px 0.5rem #8000a0);
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-title {
  color: black;
}

th,
td {
  border: 1px solid #d6d6d6;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

th {
  background-color: #d6d6d6;
}

.error {
  color: red;
}
